* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slider input {
    display: none;
}

.images {
    overflow: hidden;
}


.wrapper {
    display: flex; 
    max-width: 550px;
    transition: 1s ease-in-out;
}

.wrapper img {
    width: 100%;
    height: 100%;
}

.btn-wrapper {
    display: flex;
    gap: 5px  ;
    align-items: center;
    justify-content: space-between;
}
.btn-wrapper .labels {
    
}
.btn-wrapper label{
    padding: 1rem;
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.btn-wrapper label:hover {
    background-color: rgb(226, 207, 207);
}

.signature {
    width: 50%;
    overflow: hidden;
}

.signature-wrapper {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 1s ease-in-out;
}

.text {
    display: flex;
    min-width: 100%;
    font-size: 22px;
}


.slider #btn1:checked ~ .images .wrapper{
    transform: translateX(0);
}
.slider #btn2:checked ~ .images .wrapper{
    transform: translateX(-100%);
}
.slider #btn3:checked ~ .images .wrapper{
    transform: translateX(-200%);
}
.slider #btn4:checked ~ .images .wrapper {
    transform: translateX(-300%);
}


.slider #btn1:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(0);
}
.slider #btn2:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-100%);
}
.slider #btn3:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-200%);
}
.slider #btn4:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-300%);
}