* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 224, 224);
}

.logo img{
    max-width: 650px;
    width: 100%;
    height: 100px;
}

.slider input {
    display: none;
}

.images {
    overflow: hidden;
}


.wrapper {
    display: flex; 
    max-width: 650px;
    transition: 0.7s ease-in-out;
}

.wrapper img {
    width: 100%;
    height: 100%;
}

.btn-wrapper {
    display: flex;
    gap: 5px  ;
    
    justify-content: space-between;
}
.btn-wrapper .labels {
    display: flex;
    column-gap: 0.5rem;
}

.btn-wrapper label{
    padding: 1.5rem; 
    border-radius: 50%;
    cursor: pointer;
    
}
.btn-wrapper label span{
    z-index: 5;
    padding: 0.8rem 1rem;
    border: 2px solid black;
    border-radius: 30%;
    background-color: rgb(40, 114, 188);
    transition: background-color 0.3s ease-out;
    
}


.btn-wrapper label span:hover {
    background-color: rgb(235, 222, 222);
}

.signature {
    width: 50%;
    overflow: hidden;
}

.signature-wrapper {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 0.7s ease-in-out;
}

.text {
    font-family: cursive;
    color: rgb(40, 114, 188);
    display: flex;
    min-width: 100%;
    font-size: 20px;
}

.images {
    margin-bottom: 25px;
}


.slider #btn1:checked ~ .images .wrapper{
    transform: translateX(0);
}
.slider #btn2:checked ~ .images .wrapper{
    transform: translateX(-100%);
}
.slider #btn3:checked ~ .images .wrapper{
    transform: translateX(-200%);
}
.slider #btn4:checked ~ .images .wrapper {
    transform: translateX(-300%);
}
.slider #btn5:checked ~ .images .wrapper {
    transform: translateX(-400%);
}


.slider #btn1:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(0);
}
.slider #btn2:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-100%);
}
.slider #btn3:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-200%);
}
.slider #btn4:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-300%);
}
.slider #btn5:checked ~ .btn-wrapper .signature .signature-wrapper {
    transform: translateX(-400%);
}

@media (max-width: 768px) {
    .btn-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .labels {
        justify-content: center;
    }
}